/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.bannerHome {
    max-height:100vh;
    height: 40vh;
    border: 1px solid rgb(0, 168, 126);
  }
  
  .font-banner{
  font-size: 2rem;
  }
  
  .image-size-lg{
    margin-inline-start: 4rem;
  }

  .tutorial-page{
    font-size: 14px !important;
  }
  
  .content-banner {
  padding-inline-start : none;
  padding-inline-end : none;
  } 
  
  .btn-banner{
  padding: 10px;
  }

  
  @media (min-width: 780px) {
    .font-tutor{
      font-size: 1.7rem;
      margin-bottom: 1rem;
    } 
    .content-banner {
      padding-inline-start : 4rem;
      padding-inline-end : 5rem;
    } 
    
    .font-banner{
      font-size: 4rem;
    }
  
  }
  
  @media (min-width: 1440px) { 
  .content-banner {
    padding-inline-start : 21rem;
    padding-inline-end : 15.2rem;
  }
  
  }
  